.list {
  display: flex;
  flex-direction: column;
  gap: 94px;

  @include on-desktop {
    gap: 100px;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:first-child::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -30%;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background: linear-gradient(133.62deg, #E6508E 1.15%, #F2973D 98.85%);
    border-radius: 3px;
    animation: rotate 16s linear infinite;

    @include on-desktop {
      bottom: 30%;
      right: -436px;
      width: 40px;
      height: 40px;
      border-radius: 7px;
    }
  }

  &:nth-child(2)::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -30%;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    background: linear-gradient(133.62deg, #E6508E 1.15%, #F2973D 98.85%);
    border-radius: 3px;
    animation: rotate 16s linear infinite;

    @include on-desktop {
      left: -30%;
      bottom: -100%;
      width: 40px;
      height: 40px;
      border-radius: 7px;
    }
  }

  @include on-desktop {
    width: 703px;
    gap: 24px;
  }

  &:nth-child(2) {
    @include on-desktop {
      align-self: center;
    }
  }

  &:last-child {
    @include on-desktop {
      align-self: flex-end;
    }
  }
}

.subTitle {
  font-weight: 600;
  line-height: 1.5;

  @include on-desktop {
    font-size: 24px;
  }
}

.description {
  color: $dark-color;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @include on-desktop {
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: normal;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
