.wrapper {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $menu-background;
  display: flex;
  z-index: 200;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white-color;
  padding: 34px 20px 48px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: fit-content;
  transform: translateY(-100%); 
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
  visibility: hidden;

  &.open {
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
  }
}

