.box {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: linear-gradient(133.62deg, #E6508E 1.15%, #F2973D 98.85%);
  border-radius: 3px;
  animation: rotate 16s linear infinite;

  @include on-desktop {
    width: 40px;
    height: 40px;
    border-radius: 7px;
  }
}

.navi {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background: linear-gradient(133.62deg, #E6508E 1.15%, #F2973D 98.85%);
  border-radius: 3px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}