.text {
  color: $dark-color;
  font-size: 14px;
  line-height: 1.5;

  &:last-of-type {
    @include on-desktop {
      align-self: flex-end;
    }
  }

  @include on-desktop {
    width: 703px;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.01em;
  }
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 94px;
  margin-bottom: 94px;

  @include on-desktop {
    gap: 100px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 94px;

  @include on-desktop {
    gap: 100px;
    margin-top: 100px;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include on-desktop {
    gap: 100px;
  }
}

.extraBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 24px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include on-desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.rightAligned {
  align-self: flex-end;

  @include on-desktop {
    align-self: center;
  }
}

.subTitle {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @include on-desktop {
    font-size: 24px;
  }
}

.descr {
  color: $dark-color;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  @include on-desktop {
    width: 673px;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.01em;
  }
}

.imageMob {
  @include on-desktop {
    display: none;
  }
}

.imageDesk {
  display: none;

  @include on-desktop {
    display: block;
    align-self: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}